/Nimble/obj
/Nimble.Contact/obj
/Nimble.Model/obj
/NimbleBasicText/obj
/NimbleFrame/obj
/Nimble.Turing/obj/Debug
/Test.NimbleFrame/obj/Release
/Nimble.Turing/obj/Release
/Test.Nimble.Turing/obj/Release
/Test.Nimble.Turing/obj/Debug
/Test.Nimble.Contact/obj/Release
/Test.Nimble.BasicText/obj/Release
